:root {
	/* DEFAULT COLORS ARE IN LIGHT MODE */
	/*  Backgrounds  */

	--primary-background-dark: #2a2f32;
	--primary-background: #fafafa;

	--secondary-background-dark: #181c24;
	--secondary-background: rgb(237, 237, 237);
	--secondary-background-constrast: rgb(221, 220, 220);

	--primary-green: #38c172;
	/*     Fonts    */

	--secondary-text: #4a4a4a;

	/* user-agent font-size is 16px = 1rem = 100% */
	font-size: 62.5%; /* 10px */
}

/* user-agent font-size is 16px */

@media (max-width: 1080px) {
	html {
		font-size: 90%; /* 9px */
	}
}

@media (max-width: 943px) {
	html {
		font-size: 80%; /* 8px */
	}
}

@media (max-width: 700px) {
	html {
		font-size: 70%; /* 7px */
	}
}

@media (max-width: 590px) {
	html {
		font-size: 6%; /* 6px */
	}
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background: var(--primary-background);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}
