:root {
	/*  Backgrounds  */

	--primary-background: #fafafa;
	--secondary-background: rgb(237, 237, 237);
	--secondary-background-constrast: rgb(221, 220, 220);

	--primary-green: #38c172;
	/*     Fonts    */

	--secondary-text: #4a4a4a;

	/* user-agent font-size is 16px = 1rem = 100% */
	font-size: 62.5%; /* 10px */
}

/* user-agent font-size is 16px */

@media (max-width: 1080px) {
	html {
		font-size: 90%; /* 9px */
	}
}

@media (max-width: 943px) {
	html {
		font-size: 80%; /* 8px */
	}
}

@media (max-width: 700px) {
	html {
		font-size: 70%; /* 7px */
	}
}

@media (max-width: 590px) {
	html {
		font-size: 6%; /* 6px */
	}
}

/* ::-webkit-scrollbar {
	width: 0.3rem;
}

::-webkit-scrollbar-track {
	background: var(--primary-background);
	-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-pink);
	outline: 1px solid slategrey;
	height: 1rem;
} */

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
		Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

h1 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: inherit;
}
